* {
  box-sizing: border-box; /* generic styling */
  font: 14px/19px  "Helvetica", "Arial", sans-serif;
  font-size: 18px;
}
html,body {
  margin: 0;
  padding: 0;
}
.Nav {
  margin-top: 0;
  height: 30px;
  text-align:center;
  font-weight: lighter;
}
.Nav a {
  display: inline-block;
  padding: .7em;
  color: rgb(204, 197, 197);
  text-decoration: none; /* delete the underline from underneath of element */
  font-size: 25px;
}
.Nav li :hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.Nav li{
  list-style-type: none;
  display: inline;
  padding: .7em;
  font-size: 25px;
}
.Main-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header {
  background-image: url("headerbackgroundimg.jpg");
  background-position:center ;
  background-size: cover;
}

.Searchbutton {
  text-align: right;
  vertical-align: middle; /* text inside of botton will be in the middle*/
  padding: 0.50em;
  cursor: pointer; /* when we hover over botton, get pointer icon */
}
.search {
  border: 2px solid rgba(107, 8, 107, 0.815);
  background-color: rgba(255, 255, 255, 0.1);
}
.search:hover {
  background-color: rgba(255, 255, 255, 0.3); /* when we hover over on search it will slighly change color */
}
.Main-name {
  margin-bottom: 0px;
  margin-top: 20px;
  height: 70px;
  text-align: center;
  color: whitesmoke;
  font-size: 60px;
}

/*left side of the page */

.Item-1 {
  box-shadow: rgba(0, 0, 0, 0.877) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.897) 0px 18px 36px -18px inset;
  justify-content: center;
  display: grid;
  grid-gap: 1rem;
  margin-top: 3px;
  padding-right: 3px;
  grid-template-columns: repeat(3, 1fr);
    width: 55vw;
    background-color: rgb(224, 223, 223);
    overflow-x: hidden;
  overflow-y: auto;
  
}

.Container {  
  display: flex;
  background-color:  rgb(224, 223, 223);
  height: 80vh;
}

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    min-height: 100vh;
  }

  .Album {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
    margin: 10px;
    display: flex;
  }

  .Album_Img{
    vertical-align: middle;
    width: 75px;
  }
  .Album_Name {
    vertical-align: middle;
    display: inline;
    margin-top: 3vh;
    margin-left: 0.8vw;
  }
  .Album:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #8e46c0;
    color: whitesmoke;
  }

  /*right side of the page */

  .Item-2 { 
    box-shadow: rgba(0, 0, 0, 0.877) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.897) 0px 18px 36px -18px inset;
    width: 45vw;
    background-color:  rgb(224, 223, 223);
    margin-top: 3px;
    overflow-y: auto;
   }

   * { box-sizing: border-box; }
   .sub-container {
    padding: 12px;
    margin-top: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
  }

  .Card_one,
  .Card_two  {
    /* border: 1px solid rgba(107, 8, 107, 0.815); */
    padding: 0.5rem;
    flex-grow: 1;
  }
  .Card_one p {
    text-align: center ;
    margin-top: 0px;
  }
  .Card_two {
    text-align: center ;
  }
  .Card_one p,
  .Card_two p {
    background-color: rgba(20,15,37,255);
    color: whitesmoke;
  }
  .pOne {
    margin-top: 0px;
  }
  


/* Card button neon effect: 
ref: https://www.youtube.com/watch?v=6xNcXwC6ikQ&ab_channel=KevinPowell */
.intro {
  place-items: center;
  background-color: rgba(20,15,37,255);
}
*,
*::before,
*::after{
  box-sizing: border-box;
}

.Card_name {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 2rem;
  place-items: center;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #c861f5;
  border: currentColor 3px solid;
  padding: 0.35em 1em;
  border-radius: 0.25em;
  text-shadow: 0px 0px 10px hsl(290, 79%, 78%), 0px 0px 10px #8b35af;
  box-shadow: inset 0px 0px 5px 0px #c861f5;
  /*  */ 
  position: relative;
  transition: background-color 100ms linear;
}
.Card_name::before {
  pointer-events: none; /*pointer isnot activeted when we hover over shadow */
  content: "";
  position: absolute;
  background-color: #c861f5;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(50deg) scale(1,0.20);
  filter: blur(1.5em);
  opacity: 0.7; /*shadow is less intense */
}
.Card_name::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0em 0em 1em 0.1em #c861f5;
  opacity: 0;
  border-radius: 0.25em;
  transition: opacity 100ms linear;
}

.Card_name:hover,
.Card_name:focus {
  background: #c861f5 ;
  color: white;
  text-shadow: none;
}
.Card_name:hover::before,
.Card_name:focus::before{
  opacity: 1;
}
.Card_name:hover::after,
.Card_name:focus::after{
  opacity: 1;
}

.Card_img {
  margin-bottom: 30px;
}
.Card_members {
  overflow-y: auto;
  
}
.Card_members br:nth-child(1),
.Card_members br:nth-child(2),
.Card_members br:nth-child(3) {
  display:none;
}

/* About Page */

.Card_img2 {
  width: 250px;
  padding-top: 20px;
}
.M_C,
.M_N{
  background-color: rgba(20,15,37,255);
    color: whitesmoke;
}
.Card_members2 {
  padding-left: 25px;
}